html{
    background-color: #23272A;;
    color: #ababab;
    font-family: sans-serif;
}
body{
    /* position: absolute; */
    /* width: 100%;
    height: 100%; */
}

#wrapper {
    position: relative;
    width: 1200px;
    height: 800px;
    left: 0;
    right: 0;
    margin: 5px auto 5px auto;
    border: 1px solid #D1D1D1;
}

.col {
    position: relative;
    float: left;
    /*border: dotted 1px black;*/
    height: 800px;
}

#canvasWrapper {
    background-color: lightyellow;
}

#statsWrapper {
    /* border-left: groove 10px lightslategray; */
    width: 398px;
    background-color: #2C2F33;
    display: grid;
    border-left: 1px solid #D1D1D1;
}

.statsForm {
    margin: 5px auto;
}

.optionParagraph{
    margin: 10px 2px;
    height: 48px
}

.optionParagraph label{
    display: inline-block;
    width: 130px;
    float: left;
}
.optionParagraph .option{
    display: inline-block;
    width: 100px;
    color: #1b1b1b;
}
.optionParagraph .operator{
    display: inline-block;
    width: 75px;
}
.optionParagraph .value{
    display: inline-block;
    width: 70px;
    color: #1b1b1b;
}
.copyright{
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}
.copyright a{
    text-decoration: none;
    color:grey;
    font-size: small;
}

.hide {
    display: none;
}

.select-gray {
    background-color: #3e444c;
    color: white !important;
}